/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #ff86bd;
  --highlight-secondary: #ffc8e1;
  --text-nav: white;
  --gradient-1: #dea0ff;
  --gradient-2: #8531fb;
  --gradient-3: #e73de7;
  --gradient-4: #715ce6;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
  --color-dark-1: rgb(247, 99, 124);
  --color-dark-2: rgb(230, 60, 88);
  --color-dark-3: rgb(221, 16, 50);
  --color-dark-4: rgb(113, 0, 19);
  --color-dark-5: rgb(53, 0, 8);
  --color-dark-6: rgb(28, 0, 4);
  --color-light-1: rgb(255, 190, 201);
  --color-light-2: rgb(255, 154, 171);
  --color-light-3: rgb(255, 103, 128);
  --color-light-4: rgb(255, 71, 102);
  --color-light-5: rgb(255, 47, 82);
  --color-light-6: rgb(227, 26, 60);

}

.colorBlue{
  --color-dark-1: rgb(99, 102, 247);
  --color-dark-2: rgb(69, 60, 230);
  --color-dark-3: rgb(30, 16, 221);
  --color-dark-4: rgb(0, 4, 113);
  --color-dark-5: rgb(4, 0, 53);
  --color-dark-6: rgb(1, 0, 28);
  --color-light-1: rgb(190, 191, 255);
  --color-light-2: rgb(157, 154, 255);
  --color-light-3: rgb(103, 108, 255);
  --color-light-4: rgb(71, 71, 255);
  --color-light-5: rgb(32, 29, 255);
  --color-light-6: rgb(12, 15, 156);
}

.colorGreen{
  --color-dark-1: rgb(99, 247, 119);
  --color-dark-2: rgb(83, 230, 60);
  --color-dark-3: rgb(43, 221, 16);
  --color-dark-4: rgb(30, 113, 0);
  --color-dark-5: rgb(6, 53, 0);
  --color-dark-6: rgb(2, 28, 0);
  --color-light-1: rgb(194, 255, 190);
  --color-light-2: rgb(161, 255, 154);
  --color-light-3: rgb(126, 255, 103);
  --color-light-4: rgb(71, 255, 74);
  --color-light-5: rgb(29, 255, 37);
  --color-light-6: rgb(12, 156, 12);
}

.colorYellow{
  --color-dark-1: rgb(247, 237, 99);
  --color-dark-2: rgb(230, 224, 60);
  --color-dark-3: rgb(221, 211, 16);
  --color-dark-4: rgb(113, 104, 0);
  --color-dark-5: rgb(53, 53, 0);
  --color-dark-6: rgb(28, 28, 0);
  --color-light-1: rgb(255, 255, 190);
  --color-light-2: rgb(255, 253, 154);
  --color-light-3: rgb(252, 255, 103);
  --color-light-4: rgb(243, 255, 71);
  --color-light-5: rgb(240, 255, 29);
  --color-light-6: rgb(156, 146, 12);
}

.colorOrange{
  --color-dark-1: rgb(247, 139, 99);
  --color-dark-2: rgb(230, 125, 60);
  --color-dark-3: rgb(221, 101, 16);
  --color-dark-4: rgb(113, 49, 0);
  --color-dark-5: rgb(53, 21, 0);
  --color-dark-6: rgb(28, 10, 0);
  --color-light-1: rgb(255, 217, 190);
  --color-light-2: rgb(255, 189, 154);
  --color-light-3: rgb(255, 164, 103);
  --color-light-4: rgb(255, 145, 71);
  --color-light-5: rgb(255, 123, 29);
  --color-light-6: rgb(156, 62, 12);
}

.colorAqua{
  --color-dark-1: rgb(99, 247, 230);
  --color-dark-2: rgb(60, 230, 210);
  --color-dark-3: rgb(16, 221, 197);
  --color-dark-4: rgb(0, 113, 102);
  --color-dark-5: rgb(0, 53, 53);
  --color-dark-6: rgb(0, 25, 28);
  --color-light-1: rgb(190, 255, 250);
  --color-light-2: rgb(154, 255, 236);
  --color-light-3: rgb(103, 250, 255);
  --color-light-4: rgb(71, 255, 249);
  --color-light-5: rgb(29, 251, 255);
  --color-light-6: rgb(12, 149, 156);
}

.colorPurple{
  --color-dark-1: rgb(156, 99, 247);
  --color-dark-2: rgb(117, 60, 230);
  --color-dark-3: rgb(105, 16, 221);
  --color-dark-4: rgb(43, 0, 113);
  --color-dark-5: rgb(22, 0, 53);
  --color-dark-6: rgb(11, 0, 28);
  --color-light-1: rgb(216, 190, 255);
  --color-light-2: rgb(181, 154, 255);
  --color-light-3: rgb(149, 103, 255);
  --color-light-4: rgb(141, 71, 255);
  --color-light-5: rgb(123, 29, 255);
  --color-light-6: rgb(65, 12, 156);
}


* {
  box-sizing: border-box;
  /* color: rgb(255, 184, 196);
  color: rgb(255, 112, 136);
  color: rgb(255, 58, 91);
  color: rgb(255, 0, 43);
  color: rgb(162, 0, 27);
  color: rgb(65, 0, 11); */
}

body {
  margin: 0 2rem 2rem 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-secondary);
  border: var(--line) solid var(--highlight-secondary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  text-align: center;
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}









/* 1 */

nav {
  width: 100vw;
  height: 0rem;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--secondary);
  margin-bottom: 3rem;
}

nav:nth-of-type(2) {
  margin-top: -9rem;
  position: absolute;
  height: 6rem;
  background-color: var(--highlight-primary);
  z-index: -1;
  opacity: 0;
}

#navUl {
  opacity: 1;
  top: .5rem;
}

#navUl li {
  color: var(--text-nav);
}

ul:nth-of-type(1) {
  list-style-type: none;
  display: flex;
  gap: 5rem;
  position: relative;
  top: 2.5rem;
  opacity: 0;
}

li {
  font-size: 1.5rem;
  color: var(--secondary);
}

.navUnder {
  animation: navunder 2s linear forwards;
}

.nav {
  animation: navbar 2s linear forwards;
}

.navButton {
  animation: nav 2s linear forwards;
}

.navText {
  animation: navtext 2s linear forwards;
}

@keyframes navbar {
  0% {
    height: 0rem;
    background-color: var(--secondary);
    margin-top: -3rem;
  }
  50% {
    height: 5rem;
    background-color: var(--secondary);
    margin-top: -3rem;
  }
  52% {
    background-color: var(--highlight-secondary);
    margin-top: -3rem;
    left: 0%;
    transform: translate(0%);
    margin-left: -2rem;
  }
  60% {
    background-color: var(--highlight-secondary);
    height: 6rem;
    margin-top: -3rem;
    left: 0%;
    transform: translate(0%);
    margin-left: -2rem;
  }
  70% {
    background-color: var(--highlight-secondary);
    height: 6rem;
    margin-top: -3rem;
    width: 110vw;
    margin-top: -3rem;
    left: 0%;
    transform: translate(0%);
    margin-left: -2rem;
  }
  100% {
    width: 0vw;
    background-color: var(--highlight-secondary);
    height: 6rem;
    margin-top: -3rem;
    left: 0%;
    transform: translate(0%);
    margin-left: -2rem;
    overflow-x: clip;
  }
}

@keyframes nav {
  0% {
    color: var(--highlight-secondary);
    border-color: var(--highlight-secondary);
    background-color: var(--secondary);
    position: absolute;
    display: block;
  }
  20% {
    transform: translateY(-130%);
    color: var(--highlight-secondary);
    border-color: var(--highlight-secondary);
    background-color: var(--secondary);
  }
  50% {
    position: absolute;
    display: block;
    transform: translateY(-130%);
    padding: 1em 50vw;
    margin-left: -4%;
    border-radius: 0;
    color: var(--highlight-secondary);
    border-color: var(--highlight-secondary);
    background-color: var(--highlight-secondary);
  }
  60% {
    position: absolute;
    transform: translateY(-300%);
    padding: 1em 50vw;
    margin-left: -4%;
    border-radius: 0;
    color: var(--highlight-secondary);
    border-color: var(--highlight-secondary);
    background-color: var(--highlight-secondary);
  }
  70% {
    position: absolute;
    transform: translateY(-300%);
    padding: 1em 50vw;
    margin-left: -4%;
    border-radius: 0;
    color: var(--highlight-secondary);
    border-color: var(--highlight-secondary);
    background-color: var(--highlight-secondary);
  }
  100% {
    position: absolute;
    transform: translateY(-300%);
    padding: 1em 50vw;
    margin-left: -4%;
    border-radius: 0;
    color: var(--highlight-secondary);
    border-color: var(--highlight-secondary);
    background-color: var(--highlight-secondary);
  }
}

@keyframes navtext {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

@keyframes navunder {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}





/* 2 */




span:nth-of-type(1), span:nth-of-type(2){
  display: inline-block;
  height: fit-content;
  width: 5rem;
  overflow: clip;
}

span:nth-of-type(2){
  width: 0rem;
  border-right: 1px solid var(--highlight-secondary);
}

.code{
  animation: code 6s linear infinite;
}

.codeTag{
  animation: codetag 6s linear infinite;
}

@keyframes code {
  0%{
    width: 5rem;
    border-right: 1px solid var(--highlight-secondary);
  }


  5%{
    border-right: none;
  }
  10%{
    border-right: 1px solid var(--highlight-secondary);
  }
  15%{
    border-right: none;
  }


  19%{
    border-right: 1px solid var(--highlight-secondary);
  }
  20%{
    width: 0rem;
    border-right: none;
  }
  80%{
    width: 0rem;
    border-right: none;
  }
  81%{
    border-right: 1px solid var(--highlight-secondary);
  }


  85%{
    border-right: none;
  }
  90%{
    border-right: 1px solid var(--highlight-secondary);
  }
  95%{
    border-right: none;
  }


  100%{
    width: 5rem;
    border-right: 1px solid var(--highlight-secondary);
  }
}

@keyframes codetag {
  0%{
    width: 0rem;
    border-right: none;
  }
  20%{
    width: 0rem;
    border-right: none;
  }
  21%{
    border-right: 1px solid var(--highlight-secondary);
  }


  25%{
    border-right: none;
  }
  30%{
    border-right: 1px solid var(--highlight-secondary);
  }
	35%{
    border-right: none;
  }	 
  40%{
    border-right: 1px solid var(--highlight-secondary);
  }
	45%{
    border-right: none;
  }


  50%{
    width: 13rem;
    border-right: 1px solid var(--highlight-secondary);
  }


  55%{
    border-right: none;
  }
  60%{
    border-right: 1px solid var(--highlight-secondary);
  }
	65%{
    border-right: none;
  }	 
  70%{
    border-right: 1px solid var(--highlight-secondary);
  }
	75%{
    border-right: none;
  }


  79%{
    border-right: 1px solid var(--highlight-secondary);
  }
  80%{
    width: 0rem;
    border-right: none;
  }
  100%{
    width: 0rem;
    border-right: none;
  }
}



/* 3 */

.gradient{  
  border: var(--secondary);
  color: var(--secondary);
  background-image: radial-gradient(var(--gradient-1), var(--gradient-2), var(--gradient-3), var(--gradient-4));
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0%{
    background-size: 1rem;
    background-position: 10rem 5rem;
  }
  25%{
    background-size: 2rem;
    background-position: 5rem 10rem;
  }
  50%{
    background-size: 3rem;
    background-position: 0rem 15rem;
  }
  75%{
    background-size: 2rem;
    background-position: -5rem 20rem;
  }
  100%{
    background-size: 1rem;
    background-position: -10rem 25rem;
  }
}


/* 4 */

.counting{
  animation: counting cubic-bezier(0.175, 0.885, 0.32, 1.275) 5s infinite;
}

a:nth-of-type(6){
  display: flex;
  align-items: flex-start;
  height: 4.1rem;
  overflow-y: clip;
}

#ulNumbers{
  margin-top: -2.5rem;
  padding: 0 0 0 .6rem;
  flex-direction: column;
  list-style-type: none;
  opacity: 1;
  gap: .5rem;
}

#ulNumbers li{
  font-size: 2rem;
  color: var(--highlight-secondary);
  position: relative;
}

@keyframes counting {
  0%{top: 100%;
  }
  50%{top: -350%;
  }
  100%{top: 100%;
  }
}


/* 5 */

a:nth-of-type(16){
  /* transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  text-align: left;
  display: flex;
}

img{
  margin: 0rem;
  width: 0rem;
  filter: invert(84%) sepia(11%) saturate(965%) hue-rotate(293deg) brightness(99%) contrast(107%);
}

.stars1{
  animation: stars1 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
.stars2{
  animation: stars2 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
.stars3{
  animation: stars3 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
.stars4{
  animation: stars4 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
.stars5{
  animation: stars5 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes stars1{
  15%{
    width: 0rem;
    margin-left: 0rem;
  }
  55%{
    width: 1.5rem;
    margin-left: 1rem;
  }
}

@keyframes stars2{
  25%{
    width: 0rem;
    margin-left: 0rem;
  }
  65%{
    width: 1.5rem;
    margin-left: 1rem;
  }
}

@keyframes stars3{
  35%{
    width: 0rem;
    margin-left: 0rem;
  }
  75%{
    width: 1.5rem;
    margin-left: 1rem;
  }
}

@keyframes stars4{
  45%{
    width: 0rem;
    margin-left: 0rem;
  }
  85%{
    width: 1.5rem;
    margin-left: 1rem;
  }
}

@keyframes stars5{
  55%{
    width: 0rem;
    margin-left: 0rem;
  }
  95%{
    width: 1.5rem;
    margin-left: 1rem;
  }
}



/* 6 */
.states, .states2{
  width: 9.1rem;
}

.states2{
  margin-left: -9.5rem;
  z-index: 2;
}

.states {
  background-color: var(--highlight-secondary);
  color: var(--secondary);
}

.statesAnimation{
  animation: color-change 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  overflow: clip;
}

@keyframes color-change {
  0%{
    width: 9.1rem;
  }
  30%{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  40%{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  25%{
    width: 5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  100%{
    width: 9.1rem;
    border-radius: var(--pill);
    /* color: red; */
  }
}





/* 7 */

p:nth-of-type(1), p:nth-of-type(2){
  left: 0rem;
  position: relative; 
  transition: 1s ease-in-out;
}

a:nth-of-type(2){
  height: 4.1rem;
  display: flex;
  gap: 2rem;
  width: 11.5rem;
  overflow: clip;
  align-items: center;
}

.leftToRight{
  left: -9.8rem !important;
}





/* 8 */

/* a:nth-of-type(1), a:nth-of-type(2), a:nth-of-type(3), a:nth-of-type(4){
  margin-left: .2em;
  animation: marginFrame 10s ease-in-out;
} */

a:nth-of-type(5){
  width: 15.2rem;
  height: 4.1rem;
  overflow: clip;
  transition: 2s ease-in-out;
  z-index: 10;
}

.p{
  font-size: 1.2rem;
  color: white;
  line-height: 2.5rem;
}

.back{
  cursor: pointer;
  position: relative;
  border: var(--line) solid var(--highlight-secondary);
  border-radius: var(--pill);
  color: var(--secondary);
  background-color: var(--highlight-secondary);
  padding: 0.2em 0.6em;
  font-size: 1.3rem;
  width: 6rem;
  font-weight: bold;
  transition: 2s ease-in-out;
  margin-top: -2rem;
  margin-bottom: 5rem;  
  margin-left: -10rem;
}

.bigContainer {
    order: -1;
    width: 100vw !important;
    height: 85vh !important;
    border-radius: 0;
    margin-bottom: 10rem;
    /* overflow-y: scroll !important; */
}

.bigContainerNav {
  order: -1;
  width: 100vw !important;
  height: 80vh !important;
  border-radius: 0;
  margin-bottom: 10rem;
  /* overflow-y: scroll !important; */
}

.bigContainer::-webkit-scrollbar{
  background-color: var(--secondary);
  width: 1rem;
  margin-right: 1.5rem;
}

.bigContainer::-webkit-scrollbar-thumb{
  width: .5rem;
  background-color: var(--highlight-secondary);
}
  
.backAnimation{
  margin-top: -2rem;
  margin-bottom: 5rem;  
  margin-left: 0rem;
}

.bigContainer2{
  order: 0;
  width: 15.2rem !important;
  height: 4.1rem !important;
  border-radius: var(--pill);
  margin-bottom: 0rem;
}

.backAnimation2{
  margin-top: -2rem;
  margin-bottom: 5rem;  
  margin-left: -10rem;

  /* margin-top: 20rem !important;
  margin-bottom: 0rem !important;   */
}

/* a:nth-of-type(5){
  width: 15.2rem;
  height: 4.1rem;
  overflow: clip;
}

.bigContainer {
  animation: bigContainer 2s ease-in-out forwards;
}

.bigContainer2 {
  animation: bigContainer 2s ease-in-out forwards reverse;
}

.back{
  position: relative;
  border: var(--line) solid var(--highlight-secondary);
  border-radius: var(--pill);
  color: var(--secondary);
  background-color: var(--highlight-secondary);
  padding: 0.2em 0.6em;
  font-size: 1.3rem;
  width: 6rem;
  font-weight: bold;
}

.backAnimation{
  animation: back 2s ease-in-out forwards;
}

.backAnimation2{
  animation: back 2s ease-in-out forwards reverse;
}

.p{
  font-size: 1.2rem;
  color: white;
  line-height: 2.5rem;
}

@keyframes bigContainer{
  100%{
    order: -1;
    z-index: 10;
    width: 100vw;
    height: 85vh;
    border-radius: 0;
    margin-bottom: 10rem;
    overflow-y: scroll;
  }
}


@keyframes back {
  100%{
    margin-top: -2rem;
    margin-bottom: 5rem;  
  }
} */






/* 9 */


.spinning{
  animation: spinning 3s ease-in-out forwards;
}

@keyframes spinning {
  50%{
    transform: rotate(90deg); 
  }
  90%{
    transform: rotate(90deg) rotateY(90deg); 
    margin-left: .2em;
  }
  100%{
    transform: rotate(90deg) rotateY(90deg); 
    margin-left: -7rem;
  }
} 


/* 10 */

a:nth-of-type(10){
  transition: .5s;
}

.color1{
  color: var(--color-dark-1);
  border-color: var(--color-dark-1);
  background-color: var(--color-light-1);
}

.color2{
  color: var(--color-dark-2);
  border-color: var(--color-dark-2);
  background-color: var(--color-light-2);
}

.color3{
  color: var(--color-dark-3);
  border-color: var(--color-dark-3);
  background-color: var(--color-light-3);
}

.color4{
  color: var(--color-dark-4);
  border-color: var(--color-dark-4);
  background-color: var(--color-light-4);
}

.color5{
  color: var(--color-dark-5);
  border-color: var(--color-dark-5);
  background-color: var(--color-light-5);
}
.color6{
  color: var(--color-dark-6);
  border-color: var(--color-dark-6);
  background-color: var(--color-light-6);
}

.color1:hover, 
.color2:hover, 
.color3:hover, 
.color4:hover, 
.color5:hover, 
.color6:hover {
  box-shadow: 0px 0px 10px -3px white;
}